@import url("semantic.css");

.ui.logo {
    padding-top: 50px;
    width: 120px;
    height: 60px;
}
.ui.bottompad {
    padding-bottom: 20px;
}

@media only screen and (max-width: 850px) {
    #divider {
        display: none;
    }
}

.largetext {
    font-size: 16px;
  }
